-DesignTarget: RAM

# -CacheAccessMode: Normal
# -Associativity (for cache only): 8

-ProcessNode: 45

-Capacity (MB): 2
-WordWidth (bit): 64
-DeviceRoadmap: HP

-LocalWireType: LocalAggressive
-LocalWireRepeaterType: RepeatedNone
-LocalWireUseLowSwing: No

-GlobalWireType: GlobalAggressive
-GlobalWireRepeaterType: RepeatedNone
-GlobalWireUseLowSwing: No

//-Routing: H-tree
-Routing: Non-H-tree

-InternalSensing: true

-MemoryCellInputFile: sample_2D_eDRAM.cell

-Temperature (K): 350
-RetentionTime (us): 1000
//-OptimationTarget: ReadLatency
-OptimizationTarget: WriteEDP
//-OptimizationTarget: Full
-EnablePruning: Yes

-BufferDesignOptimization: latency

//-ForceBank3D (Total AxBxC, Active DxE): 64x4x2, 1x1
-ForceBank (Total AxB, Active CxD): 16x16, 1x1
//-ForceBank (Total AxB): 1024x256
-ForceMat (Total AxB, Active CxD): 1x1
//-ForceMuxSenseAmp: 128
//-ForceMuxOutputLev1: 1 
//-ForceMuxOutputLev2: 1

-StackedDieCount: 1
//-PartitionGranularity: 1
//-LocalTSVProjection: 0
//-GlobalTSVProjection: 0
//-TSVRedundancy 1.2


